.navbar{
    width: 89px;
    background-color: #22222234;
    min-height: 100vh;
    height: 100%;
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar__icon, .navbar__logo{
    width: 55px;
}

ul{
    list-style-type: none;
    padding: 0;


    li:hover{
        background-color: #22222234;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}