<div class="app-page">
  <h1>Settings</h1>
  <div class="db-settings">
    <div>
      <h2>Database</h2>
      <button (click)="quickScan()">Quick scan</button>
      <button (click)="fullScan()">Full scan</button>
      <button (click)="clearDatabase()">Clear database</button>
    </div>
    <div>
      <h2>Theme selection</h2>
      <select id="theme-switch" (change)="updateTheme($event)">
        <ng-container *ngFor="let theme of themes">
          <option [value]="theme" [selected]="theme === selectedTheme">{{ theme }}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>