@use 'abstracts' as *;

.app-pagination,
.app-sort{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 21%;
}

button {
    background-color: $shadow-3;
    border: none;
    padding: 0 0.55rem;
    border-radius: 0.34rem;
    cursor: pointer;

    img {
        width: 24px;
    }

    &:hover {
        background-color: $shadow-2;
    }
}

select {
    background-color: $shadow-3;
    border: none;
    color: $foreground;
    height: 24px;
    padding: 0 0.55rem;
    display: flex;
    border-radius: 0.34rem;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:hover {
    background-color: $shadow-2;
}