// #183a53 #0a2538
$background-1: #0a2538;
$background-2: #004f64 ;
$background-3: #007d80;

;

$foreground: #eee;
$foreground-alt: #ccc;

$shadow-1: hsla(0, 0%, 13%, 0.89);
$shadow-2: hsla(0, 0%, 13%, 0.55);
$shadow-3: hsla(0, 0%, 13%, 0.21);


$element-background: hsl(200, 20%, 15%);
$element-background-alt: hsl(200, 20%, 20%);
$element-foreground: hsl(200, 0%, 90%);
$element-foreground-alt: hsl(200, 0%, 95%);

$accent-1: hsl(145, 75%, 45%);
$accent-2: hsl(145, 90%, 55%);
$accent-3: hsl(145, 100%, 65%);

$accent-alt-1: hsl(335, 100%, 35%);
$accent-alt-2: hsl(335, 95%, 60%);
