body {
    color: var(--foreground);
    background: var(--background-1);
    background: linear-gradient(10deg, var(--background-1) 21%, var(--background-2) 89%, );
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
}

.app {
    display: flex;
    position: relative;
}

.app-page-wrapper {
    margin-left: 89px;
    flex-grow: 1;
}

.app-page {

    padding: 1rem;
    width: 100%;
}

.shadow {
    transition: var(--transition);
    box-shadow: 0.21rem 0.21rem 0.89rem var(--shadow-2);

    &:hover {
        box-shadow: 0.55rem 0.55rem 1.22rem var(--shadow-1) !important;
    }
}

.app-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(233px, 1fr));
    gap: 21px;



    .grid-item {
        a {
            padding: 0.55rem 0.89rem;
            text-decoration: none;
            font-weight: 600;
            color: var(--foreground);
            background-color: var(--shadow-3);
            border-radius: 0.55rem;

            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            transition: 0.34s;

            &:hover {
                color: var(--accent);
            }
        }
    }
}