@use 'abstracts' as *;

body {
    color: $foreground;
    background: $background-1;
    background: linear-gradient(10deg, $background-1 21%, $background-2 89%,);
    // font-family: $ff-base;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
}

.app{
    display: flex;
    position: relative;
}

.app-page-wrapper {
    margin-left: 89px;
    flex-grow: 1;
}

.app-page {
    
    padding: 1rem;
    width: 100%;
}

.shadow {
    transition:$transition;
    box-shadow: 0.21rem 0.21rem 0.89rem $shadow-2;
    &:hover {
        box-shadow: 0.55rem 0.55rem 1.22rem $shadow-1 !important;
    }
}
