<div class="app-page" *ngIf="authorDetails">
  <div class="details-container">
    <img
      class="details-img"
      src="{{ getSrcAuthor(authorDetails.author.relative_img_path) }}"
      alt="image"
    />
    <div class="details-info">
      <h1 class="details-title">{{ authorDetails.author.name }}</h1>
      <br />
      <table class="details-info-table">
        <tbody>
          <tr>
            <td class="details-info-label">Books</td>
            <td class="details-info-value">{{ authorDetails.books.length }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-generic-list
    [items]="authorDetails.books"
    listType="books"
    [paginationEnabled]="false"
    [sortEnabled]="false"
  ></app-generic-list>
</div>
