<div class="app-page">
    <div class="details-container">
        <div class="details-info">
            <h1 class="details-title">{{ lectorDetails.name }} ({{ lectorDetails.books.length }})</h1>
        </div>
    </div>

    <div class="gallery">
        <a *ngFor="let book of lectorDetails.books" class="gallery-item shadow" [routerLink]="['/books', book.id]">
            <img src={{getSrcBook(book.cover_path)}} alt="image">
            <div class="gallery-text gallery-tex-first">{{book.title}}</div>
            <div class="gallery-text gallery-text-second">{{book.author_name}}</div>
        </a>
    </div>
</div>