<div class="details-container app-page" *ngIf="bookDetails">

  <img class="details-img shadow" [src]="getSrc(bookDetails.cover_path)" [alt]="bookDetails.title" />

  <div class="details-info">
    <h1 class="details-title">{{ bookDetails.title }}</h1>
    <br>
    <table class="details-info-table">
      <tbody>
        <tr>
          <td class="details-info-label">Author</td>
          <td class="details-info-value">
            <a class="details-link" [routerLink]="['/authors', bookDetails.author_id]">{{ bookDetails.author_name }}</a>
          </td>
        </tr>
        <tr>
          <td class="details-info-label">Lector</td>
          <td class="details-info-value">
            <a class="details-link" [routerLink]="['/lectors', bookDetails.lector_id]">{{ bookDetails.lector_name }}</a>
          </td>
        </tr>
        <tr>
          <td class="details-info-label">Genre</td>
          <td class="details-info-value">{{ bookDetails.genre_name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>