<div class="toolbar">
  <ul class="toolbar__location">
    <li *ngFor="let navPath of navPaths; let last = last">
      <ng-container *ngIf="!last">
        <a [routerLink]="[navPath.url]">{{ navPath.name }}</a>
        <span>  >  </span>
      </ng-container>
      <ng-container *ngIf="last">
        {{ navPath.name }}
      </ng-container>
    </li>
  </ul>

  <div class="toolbar__search">
    <input id="search_input" type="text" placeholder="Search" />
    <img (click)="searchIt()" src="assets/icons/search-magnifying-glass-svgrepo-com.svg" alt="" />
  </div>

  <div class="toolbar__clock">
    {{ currentTime }}
  </div>
</div>
